@model IntelligenceAgencyManagementSystem.WorkersToOp

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Деталі</h1>

<div>
    <h4>Учасник операції</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operation.Name)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverRole.FullName)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worker.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-id="@Model.OperationId">До учасників</a>
</div>
