@model IntelligenceAgencyManagementSystem.MilitaryFile

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Worker.FirstName @ViewBag.Worker.SecondName</h1>

<h4>Співробітник</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <input type="hidden" asp-for="WorkerId" value="@ViewBag.Worker.Id" />
            
            <hr />  
            <h5>Військова інформація</h5>
            
            <div class="form-group">
                <label asp-for="MilitaryRank" class="control-label"></label>
                <input asp-for="MilitaryRank" class="form-control" />
                <span asp-validation-for="MilitaryRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullInformation" class="control-label"></label>
                <input asp-for="FullInformation" class="form-control" />
                <span asp-validation-for="FullInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
                <a asp-action="Delete" asp-route-id="@Model.Id">Видалити</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Workers" asp-action="Edit" asp-route-id="@ViewBag.Worker.Id" asp-route-type="details">До детальної інформації</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
