@using Microsoft.AspNetCore.Identity
@model IntelligenceAgencyManagementSystem.ViewModel.ChangeRoleViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Зміна ролей для користувача @Model.UserEmail</h2>

<br/>

<div class="alert alert-dismissible alert-info">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    Будьте обачними при зміні прав <strong>адміністратора</strong>
</div>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId"/>
    
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            @* <input type="checkbox" name="roles" value="@role.Name" *@
            @*        @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name<br/> *@
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="roles" value="@role.Name" id="flexSwitchCheckDefault-@role.Name" @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "")>
                <label class="form-check-label" for="flexSwitchCheckDefault-@role.Name">@role.Name</label>
            </div>
        }
    </div>
    
    <br/>
    
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>
