@model IEnumerable<IntelligenceAgencyManagementSystem.Operation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Управління операціями</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.Id">Більше</a>
                |
                <a asp-controller="WorkersToOperations" asp-action="Index" asp-route-id="@item.Id">Учасники</a>
                |
                <a asp-controller="Tasks" asp-action="Index" asp-route-id="@item.Id">Завдання</a>
            </td>
        </tr>
}
    </tbody>
</table>
