@model IntelligenceAgencyManagementSystem.Worker

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Деталі</h1>

<div>
    <h4>Співробітник</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.Name)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeathDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeathDate)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyStatus)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthInformation)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalInformation)
        </dd>
        
        
        @if (ViewBag.MilitaryFile != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MilitaryFiles.First().MilitaryRank)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MilitaryFiles.First().MilitaryRank)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MilitaryFiles.First().FullInformation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MilitaryFiles.First().FullInformation)
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Військова інформація
            </dt>
            <dd class="col-sm-2">
                Відсутня
            </dd>
        }
    </dl>
</div>

<br/>

<h3>Діяльність</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Позиція
            </th>
            <th>
                Від
            </th>
            <th>
                До
            </th>
            <th>
                Департамент
            </th>
            
            <th></th>
            
        </tr>
    </thead>
    <tbody>
@foreach (WorkingInDepartment item in ViewBag.WorkingInDepartment) {
        <tr>
            <td>
                @Html.DisplayFor(i => item.Role.Title)
            </td>
            <td>
                @Html.DisplayFor(i => item.DateStarted)
            </td>
            <td>
                @if (item.DateEnded == null)
                {
                    <span>До теперішнього часу</span>
                }
                else
                {
                    @Html.DisplayFor(i => item.DateEnded)
                }
            </td>
            <td>
                @Html.DisplayFor(i => item.Department.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Більше</a>
            </td>
        </tr>
}
    </tbody>
</table>

<br/>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> 
    |
    <a asp-action="Delete" asp-route-id="@Model?.Id">Видалити</a> 
    |
    <a asp-action="Index">Назад</a>
</div>
