@model IntelligenceAgencyManagementSystem.Task

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Деталі</h1>

<div>
    <h4>Завдання</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStatusSet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStatusSet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Title)
        </dd>
    </dl>
</div>

<h3>Виконавці</h3>

<div style="margin-bottom: 20px">
    <a asp-action="AddWorker" asp-route-id="@Model.Id">Додати виконавця</a>
</div>

@if (ViewBag.TasksToWorkers.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>
                Імʼя
            </th>
            
            <th style="width: 50%"></th>
            
        </tr>
        </thead>
        <tbody>
        @foreach (TasksToWorkers item in ViewBag.TasksToWorkers) {
            <tr>
                <td>
                    @Html.DisplayFor(i => item.Worker.FullName)
                </td>
                <td style="align-content: end">
                    <form asp-action="RemoveWorker">
                        <input type="hidden" name="id" value="@item.Id"/>
                        <input type="submit" value="Вилучити" class="btn btn-danger" />
                        |
                        <a asp-controller="Workers" asp-action="Details" asp-route-id="@item.WorkerId">Про виконавця</a>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-dismissible alert-info col-sm-4">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Виконавців не знейдено!</strong> <a class="alert-link" asp-action="AddWorker" asp-route-id="@Model.Id">Додайте виконавця</a>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a>
    |
    <a asp-controller="TaskStatuses" asp-action="Index">Статуси завдань</a>
    |
    <a asp-action="Index" asp-route-id="@Model.OperationId">Назад</a>
</div>
